[submodule "ext/prio_queue"]
	path = ext/prio_queue
	url = https://github.com/rollbear/prio_queue.git
[submodule "ext/dyndist"]
	path = ext/dyndist
	url = https://github.com/fgp/dyndist.git
[submodule "ext/popl"]
	path = ext/popl
	url = https://github.com/badaix/popl.git
