epidemics/*.o
.vscode/settings.json
.vscode
.vscode/tasks.json
build/average_trajectory.dat
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/degree.dat
build/degreetoday.dat
build/figure_single.png
build/figure.pdf
build/figure.png
build/figure2.png
build/Makefile
build/path.dat
build/plot.txt
build/simulator
build/tests
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-06077f2ee22fb649edbc.json
build/.cmake/api/v1/reply/cmakeFiles-v1-ae1dce62c3d1e092771a.json
build/.cmake/api/v1/reply/codemodel-v2-617b284e500158539f24.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2022-09-07T06-04-06-0730.json
build/.cmake/api/v1/reply/target-simulator-Debug-ea4ed98b69f9494d9922.json
build/.cmake/api/v1/reply/target-tests-Debug-0668641a4b4e319b4904.json
build/.cmake/api/v1/reply/toolchains-v1-22438d304b3c9876d8f0.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.23.2/CMakeSystem.cmake
build/CMakeFiles/3.23.2/CompilerIdCXX/a.out
build/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.24.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.24.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.24.0/CMakeSystem.cmake
build/CMakeFiles/3.24.0/CompilerIdCXX/a.out
build/CMakeFiles/3.24.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.24.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.24.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.24.1/CMakeSystem.cmake
build/CMakeFiles/3.24.1/CompilerIdCXX/a.out
build/CMakeFiles/3.24.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/simulator.dir/build.make
build/CMakeFiles/simulator.dir/cmake_clean.cmake
build/CMakeFiles/simulator.dir/cmake_pch.hxx
build/CMakeFiles/simulator.dir/cmake_pch.hxx.cxx
build/CMakeFiles/simulator.dir/cmake_pch.hxx.gch
build/CMakeFiles/simulator.dir/cmake_pch.hxx.gch.d
build/CMakeFiles/simulator.dir/compiler_depend.internal
build/CMakeFiles/simulator.dir/compiler_depend.make
build/CMakeFiles/simulator.dir/compiler_depend.ts
build/CMakeFiles/simulator.dir/depend.make
build/CMakeFiles/simulator.dir/DependInfo.cmake
build/CMakeFiles/simulator.dir/flags.make
build/CMakeFiles/simulator.dir/link.txt
build/CMakeFiles/simulator.dir/progress.make
build/CMakeFiles/simulator.dir/epidemics/analysis.cpp.o
build/CMakeFiles/simulator.dir/epidemics/analysis.cpp.o.d
build/CMakeFiles/simulator.dir/epidemics/graph.cpp.o
build/CMakeFiles/simulator.dir/epidemics/graph.cpp.o.d
build/CMakeFiles/simulator.dir/epidemics/main.cpp.o
build/CMakeFiles/simulator.dir/epidemics/main.cpp.o.d
build/CMakeFiles/simulator.dir/epidemics/NextReaction.cpp.o
build/CMakeFiles/simulator.dir/epidemics/NextReaction.cpp.o.d
build/CMakeFiles/simulator.dir/epidemics/nMGA.cpp.o
build/CMakeFiles/simulator.dir/epidemics/nMGA.cpp.o.d
build/CMakeFiles/simulator.dir/epidemics/random.cpp.o
build/CMakeFiles/simulator.dir/epidemics/random.cpp.o.d
build/CMakeFiles/simulator.dir/epidemics/simulation.cpp.o
build/CMakeFiles/simulator.dir/epidemics/simulation.cpp.o.d
build/CMakeFiles/simulator.dir/epidemics/utility.cpp.o
build/CMakeFiles/simulator.dir/epidemics/utility.cpp.o.d
build/CMakeFiles/tests.dir/build.make
build/CMakeFiles/tests.dir/cmake_clean.cmake
build/CMakeFiles/tests.dir/cmake_pch.hxx
build/CMakeFiles/tests.dir/cmake_pch.hxx.cxx
build/CMakeFiles/tests.dir/cmake_pch.hxx.gch
build/CMakeFiles/tests.dir/cmake_pch.hxx.gch.d
build/CMakeFiles/tests.dir/compiler_depend.internal
build/CMakeFiles/tests.dir/compiler_depend.make
build/CMakeFiles/tests.dir/compiler_depend.ts
build/CMakeFiles/tests.dir/depend.make
build/CMakeFiles/tests.dir/DependInfo.cmake
build/CMakeFiles/tests.dir/flags.make
build/CMakeFiles/tests.dir/link.txt
build/CMakeFiles/tests.dir/progress.make
build/CMakeFiles/tests.dir/epidemics/analysis.cpp.o
build/CMakeFiles/tests.dir/epidemics/analysis.cpp.o.d
build/CMakeFiles/tests.dir/epidemics/graph.cpp.o
build/CMakeFiles/tests.dir/epidemics/graph.cpp.o.d
build/CMakeFiles/tests.dir/epidemics/NextReaction.cpp.o
build/CMakeFiles/tests.dir/epidemics/NextReaction.cpp.o.d
build/CMakeFiles/tests.dir/epidemics/nMGA.cpp.o
build/CMakeFiles/tests.dir/epidemics/nMGA.cpp.o.d
build/CMakeFiles/tests.dir/epidemics/random.cpp.o
build/CMakeFiles/tests.dir/epidemics/random.cpp.o.d
build/CMakeFiles/tests.dir/epidemics/simulation.cpp.o
build/CMakeFiles/tests.dir/epidemics/simulation.cpp.o.d
build/CMakeFiles/tests.dir/epidemics/utility.cpp.o
build/CMakeFiles/tests.dir/epidemics/utility.cpp.o.d
build/CMakeFiles/tests.dir/epidemics/tests/graph.cpp.o
build/CMakeFiles/tests.dir/epidemics/tests/graph.cpp.o.d
build/CMakeFiles/tests.dir/epidemics/tests/main.cpp.o
build/CMakeFiles/tests.dir/epidemics/tests/main.cpp.o.d
build/CMakeFiles/tests.dir/epidemics/tests/meanfield.cpp.o
build/CMakeFiles/tests.dir/epidemics/tests/meanfield.cpp.o.d
build/CMakeFiles/tests.dir/epidemics/tests/nextreaction.cpp.o
build/CMakeFiles/tests.dir/epidemics/tests/nextreaction.cpp.o.d
build/CMakeFiles/tests.dir/epidemics/tests/nmga.cpp.o
build/CMakeFiles/tests.dir/epidemics/tests/nmga.cpp.o.d
build/CMakeFiles/tests.dir/epidemics/tests/random.cpp.o
build/CMakeFiles/tests.dir/epidemics/tests/random.cpp.o.d
build/.cmake/api/v1/reply/index-2022-09-13T09-54-23-0654.json
build/.cmake/api/v1/reply/index-2022-09-14T05-40-37-0034.json
build/


plot/